@font-face {
    font-family: 'meta';
    src : url('../fonts/meta-normal-regular-webfont.woff') format('woff'),
          url('../fonts/meta-normal-regular-webfont.eot') format('eot'),
          url('../fonts/meta-normal-regular-webfont.svg') format('svg'),
          url('../fonts/meta-normal-regular-webfont.ttf') format('truetype')
    ;
}

@font-face{
    font-family : 'meta-bold';
    src : url('../fonts/meta-bold-regular-webfont.woff') format('woff'),
          url('../fonts/meta-bold-regular-webfont.eot') format('eot'),
          url('../fonts/meta-bold-regular-webfont.svg') format('svg'),
          url('../fonts/meta-bold-regular-webfont.ttf') format('truetype')
    ;
}

body {
    padding-top: 93px;
    font-family: meta, Serif;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

.navbar.navbar-default {
    min-height: 93px;
    border-radius: 0;
    border: none;
    background-color: white;
    box-shadow: 0 6px 12px rgba(34,34,34,.1);
}

.navbar.navbar-default a.circle {
    display: block;
    float: left;
    width: 12px;
    height: 12px;
    background-color: #DADADA;
    margin-left: 55px;
    border-radius: 6px;
}

.navbar.navbar-default a.circle:hover,
.navbar.navbar-default a.circle.active {
    background-color: #A9A9A9;
}

.navbar.navbar-default .navigation {
    margin-top: -11px;
}

.navbar.navbar-default .container-fluid {
    margin-top: 5px;
}

.jumbotron {
    background-color: #B94A48;
    color: white;
    text-align: center;
    padding: 120px 0;
    text-transform: uppercase;
    margin-bottom: 0;
}

#discover {
    padding-top: 50px;
    margin-top: -50px;
}

.discovering-links {
    margin-top: 40px;
}

.custom-btn {
    display: inline-block !important;
    text-align: center;
    text-transform: uppercase;
    padding: 13px 35px 13px 35px;
    border-radius: 4px;
    margin: 10px;
    border: none;
}

.red-btn {
    background: #e96656;
}

.red-btn:hover {
    color: #FFF;
    background: #cb4332;
}

.green-btn {
    background: #20AA73;
}

.green-btn:hover {
    color: #FFF;
    background: #069059;
}

.btn:hover {
    box-shadow: none;
}

.red-btn, .green-btn, .blue-btn {
    color: #FFF !important;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.jumbotron h1 {
    font-family : 'meta-bold';
    font-size: 3.5em;
}

#why {
    padding-top: 70px;
    margin-top: -70px;
    padding-bottom: 5em;
    text-align: center;
}

#why header {
    margin-bottom: 2em;
}

#why header p {
    margin-bottom: 0;
    color: #808080;
    font-size: 1.4em;
}

#why .container {
    padding-top: 5em;
}

.benefit-box .service-icon {
    margin-bottom: 30px;
    width: 145px;
    height: 145px;
    margin: auto;
    border-radius: 50%;
    border: 10px solid #ececec;
    margin-bottom: 20px;
    position: relative;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.benefit-box .service-icon .rocket {
    background: url("../images/rocket.svg");
    background-size: contain;
}

.benefit-box .service-icon .thumb {
    background: url("../images/thumb.svg");
    background-size: contain;
}

.benefit-box .service-icon .cogs {
    background: url("../images/cogs.svg");
    background-size: contain;
}

.benefit-box .service-icon .feather {
    background: url("../images/feather.svg");
    background-size: contain;
}

.benefit-box .service-icon .tested {
    background: url("../images/tested.svg");
    background-size: contain;
}

.benefit-box .service-icon .certified {
    background: url("../images/certified.svg");
    background-size: contain;
}

.benefit-box h3 {
    margin-bottom: 15px;
    color: #404040;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-family : 'meta-bold';
    font-size: 17px;
    float: none;
    width: auto;
}

.benefit-box p {
    font-size: 1.2em;
    line-height: 1em;
}

.benefit-box .service-icon .edgar {
    border-radius: 50%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;
}

.benefit-box .service-icon:hover {
    border: 10px solid #e96656;
}

.red-border-bottom:before {
    position: absolute;
    margin: auto;
    z-index: 1;
    content: "";
    width: 75%;
    height: 2px;
    background: #e96656;
    bottom: -9px;
    left: 12.5%;
}

.benefits-list {
    margin-top: 3em;
}

article.component {
    padding: 5em 0;
}

article.component header {
    padding-bottom: 2em;
    color: white;
    text-align: center;
}

header h2 {
    padding-bottom: 10px;
    line-height: 40px;
    position: relative;
    display: inline-block;
    font-size: 45px;
    font-family : 'meta-bold';
    margin-top: 0;
    margin-bottom: 0
}

article.component header p {
    font-size: 1.4em;
}

article.component.blue {
    background: rgb(148, 196, 210);
}

article.component.dark-blue {
    background: #057C8A;
}

article.component .content {
    color: white;
}

article.component .content p {
    margin-bottom: 2em;
    font-size: 1.2em;
}

footer {
    background-color: #272727;
    color: white;
}

footer .knp-logo {
    padding: 10px 0;
    line-height: 50px;
}

footer .knp-network {
    background: #171717;
    text-align: center;
    padding: 10px 0;
}

footer .knp-network ul li a {
    color: white;
}

footer .knp-network ul li a:hover {
    color: #171717;
}

footer .navbar-social {
    display: inline-block;
    float: none;
}

.content .standard, .content .rad {
    background-color: #222222;
    padding: 0;
}

figure.highlight pre {
    background-color: transparent;
    border: none;
    border-radius: 0;
    font-size: 1.1em;
}

.content .standard .banner {
    width: 120px;
    height: 49px;
    position: absolute;
    right: -32px;
    background: url("../images/standard.png") no-repeat right top;
}

.content .rad .banner {
    width: 92px;
    height: 41px;
    position: absolute;
    right: -15px;
    background: url("../images/rad.png") no-repeat right top;
    top: 3px;
}

.try-it {
    margin-top: 2em;
    font-size: 1.3em;
}

.try-it span {
    margin-left: 10px;
}

.language-sh{
    color: #ccc;
}
