<footer class="footer">
    <div class="container">
        <div class="col-md-6">
            <img src="/images/knp-labs-logo.png" alt="KNP Labs logo">
        </div>
        <div class="col-md-6 knp-network">
            <ul class="nav navbar-nav navbar-social">
                <li>
                    <a class="icon" href="https://twitter.com/KnpLabs" title="Twitter">
                        <i class="fa fa-twitter"></i> <span>Twitter</span>
                    </a>
                </li>
                <li>
                    <a class="icon" href="https://github.com/KnpLabs" title="GitHub">
                        <i class="fa fa-github"></i> <span>GitHub</span>
                    </a>
                </li>
                <li>
                    <a class="icon" href="https://www.facebook.com/KnpLabs" title="Facebook">
                        <i class="fa fa-facebook"></i> <span>Facebook</span>
                    </a>
                </li>
                <li>
                    <a class="icon" href="http://knpuniversity.com" title="KNP University">
                        <i class="fa fa-graduation-cap"></i> <span>KNP University</span>
                    </a>
                </li>
                <li>
                    <a class="icon" href="http://knplabs.com/en/blog" title="Blog">
                        <i class="fa fa-bullhorn"></i> <span>Blog</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>