<article id="why">
    <div class="container">
        <header>
            <h2>Why ?</h2>
            <p>Present in few lines the approch</p>
        </header>

        <div class="row">
            <div class="col-lg-4 col-sm-4 focus-box" data-scrollreveal="enter left after 0.15s over 1s" data-sr-init="true"
                 data-sr-complete="true">
                <div class="service-icon">
                    <a target="_self" href="#">
                        <i class="pixeden our-focus-widget-image" style="background-size: contain; background: url(http://1.1.1.4/bmi/knplabs.com/front/images/contact/box.jpg) no-repeat left;"></i>
                    </a>
                </div>
                <h5 class="red-border-bottom">enhancement</h5>
                <p> Create memorable pages with smooth parallax effects that everyone loves. Also, use our lightweight content slider offering you smooth and great-looking animations.</p>
            </div>
            <div class="col-lg-4 col-sm-4 focus-box" data-scrollreveal="enter left after 0.15s over 1s" data-sr-init="true" data-sr-complete="true">
                <div class="service-icon">
                    <a target="_self" href="#">
                        <i class="pixeden our-focus-widget-image" style="background-size: contain; background: url(http://1.1.1.4/bmi/knplabs.com/front/images/contact/box.jpg) no-repeat left;"></i>
                    </a>
                </div>
                <h5 class="red-border-bottom">Faster</h5>
                <p>Change the sections order and display each block exactly where you need it. Use the options panel to customize any given element with the exact color that you desire.</p>
            </div>
            <div class="col-lg-4 col-sm-4 focus-box" data-scrollreveal="enter left after 0.15s over 1s" data-sr-init="true" data-sr-complete="true">
                <div class="service-icon">
                    <a target="_self" href="#">
                        <i class="pixeden our-focus-widget-image" style="background-size: contain;background: url(http://1.1.1.4/bmi/knplabs.com/front/images/contact/box.jpg) no-repeat left;"></i>
                    </a>
                </div>
                <h5 class="red-border-bottom">READY to use</h5>
                <p>Build a front page for your WooCommerce store in a matter of minutes. The neat and clean presentation will help your sales and make your store accessible to everyone.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-sm-4 focus-box" data-scrollreveal="enter left after 0.15s over 1s" data-sr-init="true"
                 data-sr-complete="true">
                <div class="service-icon">
                    <a target="_self" href="#">
                        <i class="pixeden our-focus-widget-image" style="background-size: contain; background: url(http://1.1.1.4/bmi/knplabs.com/front/images/contact/box.jpg) no-repeat left;"></i>
                    </a>
                </div>
                <h5 class="red-border-bottom">enhancement</h5>
                <p> Create memorable pages with smooth parallax effects that everyone loves. Also, use our lightweight content slider offering you smooth and great-looking animations.</p>
            </div>
            <div class="col-lg-4 col-sm-4 focus-box" data-scrollreveal="enter left after 0.15s over 1s" data-sr-init="true" data-sr-complete="true">
                <div class="service-icon">
                    <a target="_self" href="#">
                        <i class="pixeden our-focus-widget-image" style="background-size: contain; background: url(http://1.1.1.4/bmi/knplabs.com/front/images/contact/box.jpg) no-repeat left;"></i>
                    </a>
                </div>
                <h5 class="red-border-bottom">Faster</h5>
                <p>Change the sections order and display each block exactly where you need it. Use the options panel to customize any given element with the exact color that you desire.</p>
            </div>
            <div class="col-lg-4 col-sm-4 focus-box" data-scrollreveal="enter left after 0.15s over 1s" data-sr-init="true" data-sr-complete="true">
                <div class="service-icon">
                    <a target="_self" href="#">
                        <i class="pixeden our-focus-widget-image" style="background-size: contain;background: url(http://1.1.1.4/bmi/knplabs.com/front/images/contact/box.jpg) no-repeat left;"></i>
                    </a>
                </div>
                <h5 class="red-border-bottom">READY to use</h5>
                <p>Build a front page for your WooCommerce store in a matter of minutes. The neat and clean presentation will help your sales and make your store accessible to everyone.</p>
            </div>
        </div>
    </div>
</article>