<article id="why">
    <div class="container">
        <header>
            <h2>Why ?</h2>
            <p>Bring enhanced development experience to your Symfony projects and get rid of these tiresome tasks you feel doing over and over. Spend your time elsewhere!</p>
        </header>

        <div class="row benefits-list">
            <div class="col-lg-4 col-sm-4 benefit-box">
                <div class="service-icon">
                    <a target="_self" href="">
                        <i class="edgar our-focus-widget-image"></i>
                    </a>
                </div>
                <h3 class="red-border-bottom">Fast</h3>
                <p>Straight to the point usage.</p>
                <p>No hidden complexity. Fast results.</p>
            </div>
            <div class="col-lg-4 col-sm-4 benefit-box">
                <div class="service-icon">
                    <a target="_self" href="">
                        <svg width="100%" height="100%" class="thumb our-focus-widget-image"></svg>
                    </a>
                </div>
                <h3 class="red-border-bottom">Easy to use</h3>
                <p>Minimal configuration.</p>
                <p>Components are plug & play.</p>
            </div>
            <div class="col-lg-4 col-sm-4 benefit-box">
                <div class="service-icon">
                    <a target="_self" href="">
                        <svg width="100%" height="100%" class="cogs our-focus-widget-image"></svg>
                    </a>
                </div>
                <h3 class="red-border-bottom">Non intrusive</h3>
                <p>Does not pollute your code. Breaks nothing.</p>
                <p>Use it, or not :)</p>
            </div>
        </div>

        <div class="row benefits-list">
            <div class="col-lg-4 col-sm-4 benefit-box">
                <div class="service-icon">
                    <a target="_self" href="">
                        <svg width="100%" height="100%" class="feather our-focus-widget-image"></svg>
                    </a>
                </div>
                <h3 class="red-border-bottom">Atomic / Lightweight</h3>
                <p>Each component is simple and stupid.</p>
                <p>It does one thing and it does it well.</p>
            </div>
            <div class="col-lg-4 col-sm-4 benefit-box">
                <div class="service-icon">
                    <a target="_self" href="">
                        <svg width="100%" height="100%" class="tested our-focus-widget-image"></svg>
                    </a>
                </div>
                <h3 class="red-border-bottom">Tested</h3>
                <p>It is so green.</p>
            </div>
            <div class="col-lg-4 col-sm-4 benefit-box">
                <div class="service-icon">
                    <a target="_self" href="">
                        <svg width="100%" height="100%" class="certified our-focus-widget-image"></svg>
                    </a>
                </div>
                <h3 class="red-border-bottom">Elegant</h3>
                <p>Follows the SOLID principles.</p>
                <p>PSR compliant.</p>
            </div>
        </div>
    </div>
</article>