<article class="component dark-blue">
    <header>
        <div class="container">
            <h2>Auto Registration</h2>
            <p>Forget about those many common services declarations</p>
        </div>
    </header>
    <div class="container content">
        <p>Don't bother anymore registrate your repositories, form extensions, security voters or twig extensions as services... Just small configuration, stored files under specific sub-namespace, and all repositories, extensions and voters are auto-registred.</p>
        <div class="row">
            <div class="col-md-6">
                <div class="standard">
                    <div class="banner"></div>
{% highlight yaml %}
# services.yml

# Hurtful declarations...

app.form.extension.my_form_extension:
    class: App\Form\Extension\MyFormExtension
    tags:
        - { name: form.type_extension, extended_type: SomeType }

app.repository.some_entity_repository:
    class: App\Repository\SomeEntityRepository
    factory_service: doctrine.orm.default_entity_manager
    factory_method: getRepository
    arguments:
        - App\Entity\SomeEntityRepository

app.security.some_security_voter
    class: App\Security\SomeSecurityVoter
    tags:
        - { name: security.voter }

app.twig.some_extension:
    class: App\Twig\SomeExtension
    tags:
        - { name: twig.extension }
{% endhighlight %}
                </div>
            </div>

            <div class="col-md-6">
                <div class="rad">
                    <div class="banner"></div>
{% highlight yaml %}
# config.yml

# Just activate the lines you need

knp_rad_auto_registration:
    enable:
        doctrine: ~
        doctrine_mongodb: ~
        doctrine_couchdb: ~
        form_type_extension: ~
        security_voter: ~
        twig_extension: ~
{% endhighlight %}
                </div>
            </div>
        </div>
        <div class="row text-center">
            <a href="https://github.com/KnpLabs/rad-auto-registration" class="btn btn-primary custom-btn red-btn try-it" target="_blank">
                <i class="fa fa-github"></i><span>Try it !</span>
            </a>
        </div>
    </div>
</article>
