<article class="component dark-blue">
    <header>
        <div class="container">
            <h2>Doctrine Events</h2>
            <p>Access the easy way to your doctrine events from the Symfony DIC.</p>
        </div>
    </header>
    <div class="container content">
        <div class="row">
            <div class="col-md-6">
                <div class="standard">
                    <div class="banner"></div>
{% highlight yaml %}
services:
    app.event_listener.some_entity_listener:
        class: App\EventListener\SomeEntityListener
        tags:
            - { name: doctrine.event_listener, event: pre_persist, method: prePersist }
{% endhighlight %}
                </div>

                <div class="standard">
{% highlight php %}
<?php

namespace App\EventListener;

use App\Entity\SomeEntity;
use Doctrine\ORM\Event\LifecycleEventArgs;

class SomeEntityListener
{
    public function prePersist(LifecycleEventArgs $args)
    {
        $entity = $args->getEntity();

        if (false === $entity instanceof SomeEntity) {
            return;
        }

        // Some stuff
    }
}
{% endhighlight %}
                </div>
            </div>

            <div class="col-md-6">
                <div class="rad">
                    <div class="banner"></div>
{% highlight yaml %}
services:
    app.event_listener.user_listener:
        class: App\EventListener\UserListener
        tags:
            - { name: kernel.event_listener, event: app.entity.some_entity.pre_persist, method: prePersist }
{% endhighlight %}
                </div>

                <div class="rad">
{% highlight php %}
<?php

namespace App\EventListener;

use Knp\Rad\DoctrineEvent\Event\DoctrineEvent;

class SomeEntityListener
{
    public function prePersist(DoctrineEvent $event)
    {
        $entity = $event->getEntity();

        // Some stuff
    }
}
{% endhighlight %}
                </div>
            </div>
        </div>
        <div class="row text-center">
            <a href="https://github.com/KnpLabs/rad-doctrine-event" class="btn btn-primary custom-btn red-btn try-it" target="_blank">
                <i class="fa fa-github"></i><span>Try it !</span>
            </a>
        </div>
    </div>
</article>
