<article class="component blue">
    <header>
        <div class="container">
            <h2>Domain Event</h2>
            <p>A lightweight domain event pattern implementation for Doctrine2</p>
        </div>
    </header>
    <div class="container content">
        <p>The raise method allows you to trigger any event in your entity which will be transform to a Knp\Rad\DomainEvent\Event object and dispatched once the entity has been flushed.</p>
        <div class="row">
            <div class="col-md-6">
                <div class="standard">
                    <div class="banner"></div>
{% highlight php %}
<?php

namespace App\Entity;

class MyEntity
{
    private $param;

    public function setParam($param)
    {
        $this->param = $param;

        return $this;
    }
}
{% endhighlight %}
                </div>

                <div class="rad">
{% highlight php %}
<?php

namespace App\EventListener;

use Doctrine\ORM\Event\PreUpdateEventArgs;
use App\Entity\MyEntity;

class MyEventListener
{
    public function preUpdate(PreUpdateEventArgs $event)
    {
        $entity = $event->getEntity();

        if (!$entity instanceof MyEntity) {
            return;
        }

        if ($event->hasChangedField('param')) {
            // Some stuff
        }
    }
}
{% endhighlight %}
                </div>

                <div class="rad">
{% highlight yaml %}
# services.yml

app.event_listener.my_event_listener:
    class: AppBundle\EventListener\MyEventListener
    tags:
        - { name: doctrine.event_listener, event: preUpdate }
{% endhighlight %}
                </div>
            </div>

            <div class="col-md-6">
                <div class="rad">
                    <div class="banner"></div>
{% highlight php %}
<?php

namespace App\Entity;

use Knp\Rad\DomainEvent;

class MyEntity implements DomainEvent\Provider
{
    use DomainEvent\ProviderTrait;

    private $param;

    public function setParam($param)
    {
        $this->param = $param;

        $this->raise('myEventName', [
            'anyKey' => 'anyValue'
        ]);

        return $this;
    }
}
{% endhighlight %}
                </div>

                <div class="rad">
{% highlight php %}
<?php

namespace App\EventListener;

use Knp\Rad\DomainEvent\Event;

class MyEventListener
{
    public function onMyEventName(Event $event)
    {
        $anyValue = $event->anykey;

        // Some stuff
    }
}
{% endhighlight %}
                </div>

                <div class="rad">
{% highlight yaml %}
# services.yml

app.event_listener.my_event_listener:
    class: App\EventListener\MyEventListener
    tags:
        - { name: kernel.event_listener, event: myEventName, method: 'onMyEventName' }
{% endhighlight %}
                </div>
            </div>
        </div>
        <div class="row text-center">
            <a href="https://github.com/KnpLabs/rad-domain-event" class="btn btn-primary custom-btn red-btn try-it" target="_blank">
                <i class="fa fa-github"></i><span>Try it !</span>
            </a>
        </div>
    </div>
</article>
