<article class="component blue">
    <header>
        <div class="container">
            <h2>Resource Resolver</h2>
            <p>Resource Resolver is a way to resolve request attributes and get directly the model.</p>
            <p>It is very similar to <a href="http://symfony.com/doc/current/bundles/SensioFrameworkExtraBundle/annotations/converters.html">Param Converters</a>. They are, however far more flexible and powerful.</p>
        </div>
    </header>
    <div class="container content">
        <div class="row">
            <div class="col-md-6">
                <div class="standard">
                    <div class="banner"></div>
{% highlight php %}
<?php

namespace App\Controller;

class BlogPostsController
{
    public function indexAction()
    {
        $blogPosts = $this->getDoctrine()
            ->getManager()
            ->getRepository('App:Blogpost')
            ->findAll()
        ;

        // your logic
    }

    public function showAction($blogPostId)
    {
        $blogPost = $this->getDoctrine()
            ->getManager()
            ->getRepository('App:Blogpost')
            ->find($blogPostId)
        ;

        // your logic
    }
}
{% endhighlight %}
                </div>
            </div>

            <div class="col-md-6">
                <div class="rad">
                    <div class="banner"></div>
{% highlight php %}
<?php

namespace App\Controller;

class BlogPostsController
{
    public function indexAction(array $blogPosts)
    {
        // your logic
    }

    public function showAction(BlogPost $blogPost)
    {
        // your logic
    }
}
{% endhighlight %}
                </div>
            </div>
        </div>
        <div class="row text-center">
            <a href="https://github.com/KnpLabs/rad-resource-resolver" class="btn btn-primary custom-btn red-btn try-it" target="_blank">
                <i class="fa fa-github"></i><span>Try it !</span>
            </a>
        </div>
    </div>
</article>