<article class="component blue">
    <header>
        <div class="container">
            <h2>Resource Resolver</h2>
            <p>Resource Resolver is a way to resolve request attributes and get directly the value.</p>
            <p>It is very similar to <a href="http://symfony.com/doc/current/bundles/SensioFrameworkExtraBundle/annotations/converters.html">Param Converters</a>. It is however far more flexible and powerful.</p>
        </div>
    </header>
    <div class="container content">
        <div class="row">
            <div class="col-md-6">
                <div class="standard">
                    <div class="banner"></div>
{% highlight yaml %}
# routing.yml

article_index:
    path: /articles/
    defaults:
        # ...

article_show:
    path: /articles/{id}
    defaults:
        # ...
{% endhighlight %}
                </div>

                <div class="standard">
{% highlight php %}
<?php

namespace App\Controller;

class ArticlesController
{
    public function indexAction()
    {
        $articles = $this->getDoctrine()
            ->getManager()
            ->getRepository('App:Article')
            ->findAll()
        ;

        // ...
    }

    public function showAction($articleId)
    {
        $article = $this->getDoctrine()
            ->getManager()
            ->getRepository('App:Article')
            ->find($articleId)
        ;

        // ...
    }
}
{% endhighlight %}
                </div>
            </div>

            <div class="col-md-6">
                <div class="rad">
                    <div class="banner"></div>
{% highlight yaml %}
# routing.yml

article_index:
    path: /articles/
    defaults:
        # ...
        _resources:
            articles:
                service: my.article.repository
                method: findAll

article_show:
    path: /articles/{id}
    defaults:
        # ...
        _resources:
            article:
                service: my.article.repository
                method: find
                arguments: [$id]
{% endhighlight %}
                </div>

                <div class="rad">
{% highlight php %}
<?php

namespace App\Controller;

use App\Entity\Article;

class ArticlesController
{
    public function indexAction(array $articles)
    {
        // ...
    }

    public function showAction(Article $article)
    {
        // ...
    }
}
{% endhighlight %}
                </div>
            </div>
        </div>
        <div class="row text-center">
            <a href="https://github.com/KnpLabs/rad-resource-resolver" class="btn btn-primary custom-btn red-btn try-it" target="_blank">
                <i class="fa fa-github"></i><span>Try it !</span>
            </a>
        </div>
    </div>
</article>
