<article class="component dark-blue">
    <header>
        <div class="container">
        <h2>Security</h2>
        <p>Establish a security at the routing and not at the controller.</p>
        </div>
    </header>
    <div class="container content">
        <p>Through a simple configuration in the routing, this component allows ask terms of access to resources resolved. And combined with the rad-resource-resolver component, it also allows to set conditions on request attributes.</p>
        <div class="row">
            <div class="col-md-6">
                <div class="standard">
                    <div class="banner"></div>
{% highlight php %}
<?php

namespace App\Controller;

class ArticleController extends Controller
{
    public function indexAction()
    {
        if (!$this->isGranted('IS_AUTHENTICATED_FULLY')) {
            throw $this->createUnauthorizedException();
        }

        // ...
    }

    public function detailsAction($articleId)
    {
        if (!$this->isGranted('IS_MEMBER') &&
            !$this->isGranted('ANOTHER_ROLE')&&
            !$this->isGranted('IS_ADMIN')
        ) {
            throw $this->createUnauthorizedException();
        }

        // ...
    }
}
{% endhighlight %}
                </div>
            </div>

            <div class="col-md-6">
                <div class="rad">
                    <div class="banner"></div>
{% highlight yaml %}
# routing.yml
article_index:
    path: /articles/
    defaults:
        // ...
        _security:
            - roles: IS_AUTHENTICATED_FULLY

article_details:
    path: /articles/{id}/owners/
    defaults:
        // ...
        _resources:
            article:
                // ...
            owners:
                // ...
        _security:
            -
                roles: [IS_MEMBER, ANOTHER_ROLE]
                subject: article
            -
                roles: IS_ADMIN
                subject: owners
{% endhighlight %}
                </div>
            </div>
        </div>
    </div>
</article>
