<!-- TODO -->

      <article class="component blue">
        <header>
          <div class="container">
            <h2>Url Generation</h2>
            <p>This component will simply auto-complete needed route parameters with existing ones.</p>
          </div>
        </header>
        <div class="container content">
          <p>
              Just continue to use former url generation, nothing changes concerning the implementation. The only change is you don't repeat current route parameters anymore.
          </p>
          <div class="row">
            <div class="col-md-6">
              <div class="standard">
                <div class="banner"></div>
{% highlight php %}
<?php

use Sensio\Bundle\FrameworkExtraBundle\Configuration\Route;

class TestController
{
    /**
     * @Route(
     *  "/shop/{shopId}",
     *  name="shop_show"
     * )
     */
    public function showAction($shopId)
    {
        return $this->redirectToRoute('shop_products', [
            'shopId' => $shopId,
        ]);
    }

    /**
     * @Route(
     *  "/shop/{shopId}/products",
     *  name="shop_products"
     * )
     */
    public function productsAction($shopId)
    {
        // ...
    }
}
{% endhighlight %}
              </div>
            </div>

            <div class="col-md-6">
              <div class="rad">
                <div class="banner"></div>
{% highlight php %}
<?php

use Sensio\Bundle\FrameworkExtraBundle\Configuration\Route;

class TestController
{
    /**
     * @Route(
     *  "/shop/{shopId}",
     *  name="shop_show"
     * )
     */
    public function showAction($shopId)
    {
        return $this->redirectToRoute('shop_products');
    }

    /**
     * @Route(
     *  "/shop/{shopId}/products",
     *  name="shop_products"
     * )
     */
    public function productsAction($shopId)
    {
        // ...
    }
}
{% endhighlight %}
              </div>
            </div>
          </div>
          <p>
              Works also with url and path Twig functions or everywhere else you use the Symfony Router.
          </p>
          <div class="row text-center">
              <a href="https://github.com/KnpLabs/rad-url-generation" class="btn btn-primary custom-btn red-btn try-it" target="_blank">
                  <i class="fa fa-github"></i><span>Try it !</span>
              </a>
          </div>
        </div>
      </article>
