<article class="component blue">
    <header>
        <div class="container">
            <h2>Users</h2>
            <p>A simple way to handle password encryption and salt generation.</p>
        </div>
    </header>
    <div class="container content">
        <p>Before your entity is inserted or updated into your database, according traits you choose to use, the salt, plain password or password will be automaticly generated. And all of this is done through three interfaces and three listeners.</p>
        <div class="row">
            <div class="col-md-6">
                <div class="standard">
                    <div class="banner"></div>
{% highlight php %}
<?php

namespace App\Entity;

use Doctrine\ORM\Mapping as ORM;
use Symfony\Component\Security\Core\User\UserInterface;

class User implements UserInterface
{
    private $id;

    private $password;

    // ...

    public function __construct()
    {
        $this->salt = md5(uniqid(null, true));
    }

    // ...

    public function setPassword($password)
    {
        $this->password = $password;

        return $this;
    }

    public function getSalt()
    {
        return $this->salt;
    }

    public function eraseCredentials()
    {
    }
}
{% endhighlight %}
                </div>

                <div class="standard">
{% highlight php %}
<?php

namespace App\Controller;

use App\Controller\Controller;
use App\Entity\User;

class UserController extends Controller
{
    public function newUserAction($email,$plainPassword)
    {
        $user = new User();
        $salt = $user->getSalt();
        $factory = $this->container->get('
            security.encoder_factory'
        );
        $encoder = $factory->getEncoder($user);
        $password = $encoder->encodePassword(
            $plainPassword,
            $salt
        );

        $user->setPassword($password);
        $user->setEmail($email);

        // ...
    }
}
{% endhighlight %}
                </div>
            </div>

            <div class="col-md-6">
                <div class="rad">
                    <div class="banner"></div>
{% highlight php %}
<?php

namespace App\Entity;

use Doctrine\ORM\Mapping as ORM;
use Knp\Rad\User\HasPassword;
use Knp\Rad\User\HasSalt;

class User implements HasPassword, HasSalt
{
    use HasPassword\HasPassword;
    use HasSalt\HasSalt;

    private $id;

    private $password;

    private $salt;

    // ...
}
{% endhighlight %}
                </div>

                <div class="standard">
{% highlight php %}
<?php

namespace App\Controller;

use App\Controller\Controller;
use App\Entity\User;

class UserController extends Controller
{
    public function newUserAction($email,$plainPassword)
    {
        $user = new User();
        $user->setPlainPassword($plainPassword);
        $user->setEmail($email);

        // ...
    }
}
{% endhighlight %}
                </div>
            </div>
        </div>
        <div class="row text-center">
            <a href="https://github.com/KnpLabs/rad-user" class="btn btn-primary custom-btn red-btn try-it" target="_blank">
                <i class="fa fa-github"></i><span>Try it !</span>
            </a>
        </div>
    </div>
</article>

