<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>KNP Rad Components</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/pygments.css">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>

    <header>
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="">
              <img src="images/rad-logo.png" alt="KNP Rad Components" />
            </a>
          </div>
        </div>
      </nav>
    </header>

    {% include jumbotron.html %}
    {% include why.html %}

    <section id="discover" class="components-list">

      {% include _components/resources-resolver.html %}
      {% include _components/security.html %}
      {% include _components/doctrine-events.html %}
      {% include _components/auto-registration.html %}
      {% include _components/user.html %}
      {% include _components/fixtures-load.html %}
      {% include _components/view-renderer.html %}
      {% include _components/domain-event.html %}
      {% include _components/url-generation.html %}
      {% comment %}
      {% include _components/prototype.html %}
      {% endcomment %}

    </section>

    {% include footer.html %}
  </body>
</html>
