<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>KNP Rad Components</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/pygments.css">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>

    <header>
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="">
              <img src="/images/rad-logo.png" alt="KNP Rad Components" />
            </a>
          </div>
        </div>
      </nav>
    </header>

    {% include jumbotron.html %}
    {% include why.html %}

    <section id="discover" class="components-list">
      <article class="component blue">
        <header>
          <div class="container">
            <h2>Resource Resolver</h2>
            <p>This component blablabla</p>
          </div>
        </header>
        <div class="container content">
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <div class="row">
                <div class="col-md-6">
                    <div class="standard">
                        <div class="banner"></div>
{% highlight php %}
<?php

class Test
{
    public function test(SomeClass $subject)
    {
        return $subject->doSomething();
    }
}
{% endhighlight %}
                    </div>

                    <div class="standard">
                        <div class="banner"></div>
{% highlight php %}
<?php

class Test
{
    public function test(SomeClass $subject)
    {
        return $subject->doSomething();
    }
}
{% endhighlight %}
                    </div>

                    <div class="standard">
                        <div class="banner"></div>
{% highlight php %}
<?php

class Test
{
    public function test(SomeClass $subject)
    {
        return $subject->doSomething();
    }
}
{% endhighlight %}
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="rad">
                        <div class="banner"></div>
{% highlight php %}
<?php

class Test
{
    public function test(SomeClass $subject)
    {
        return $subject->doSomething();
    }
}
{% endhighlight %}
                    </div>
                </div>
            </div>
        </div>
      </article>

      <article class="component dark-blue">
        <header>
          <div class="container">
            <h2>Url Generation</h2>
            <p>This component blablabla</p>
          </div>
        </header>
        <div class="container content">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
          <div class="row">
            <div class="col-md-6">
              <div class="standard">
                <div class="banner"></div>
                {% highlight php %}
                <?php

class Test
{
    public function test(SomeClass $subject)
    {
        return $subject->doSomething();
                }
                }
                {% endhighlight %}
              </div>

              <div class="standard">
                <div class="banner"></div>
                {% highlight php %}
                <?php

class Test
{
    public function test(SomeClass $subject)
    {
        return $subject->doSomething();
                }
                }
                {% endhighlight %}
              </div>

              <div class="standard">
                <div class="banner"></div>
                {% highlight php %}
                <?php

class Test
{
    public function test(SomeClass $subject)
    {
        return $subject->doSomething();
                }
                }
                {% endhighlight %}
              </div>
            </div>

            <div class="col-md-6">
              <div class="rad">
                <div class="banner"></div>
                {% highlight php %}
                <?php

class Test
{
    public function test(SomeClass $subject)
    {
        return $subject->doSomething();
                }
                }
                {% endhighlight %}
              </div>
            </div>
          </div>
        </div>
      </article>

      <article class="component blue">
        <header>
          <div class="container">
            <h2>Auto-Registration</h2>
            <p>This component blablabla</p>
          </div>
        </header>
        <div class="container content">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
          <div class="row">
            <div class="col-md-6">
              <div class="standard">
                <div class="banner"></div>
                {% highlight php %}
                <?php

class Test
{
    public function test(SomeClass $subject)
    {
        return $subject->doSomething();
                }
                }
                {% endhighlight %}
              </div>

              <div class="standard">
                <div class="banner"></div>
                {% highlight php %}
                <?php

class Test
{
    public function test(SomeClass $subject)
    {
        return $subject->doSomething();
                }
                }
                {% endhighlight %}
              </div>

              <div class="standard">
                <div class="banner"></div>
                {% highlight php %}
                <?php

class Test
{
    public function test(SomeClass $subject)
    {
        return $subject->doSomething();
                }
                }
                {% endhighlight %}
              </div>
            </div>

            <div class="col-md-6">
              <div class="rad">
                <div class="banner"></div>
                {% highlight php %}
                <?php

class Test
{
    public function test(SomeClass $subject)
    {
        return $subject->doSomething();
                }
                }
                {% endhighlight %}
              </div>
            </div>
          </div>
        </div>
      </article>
    </section>

    {% include footer.html %}
  </body>
</html>
